.admin-container {
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .admin-actions {
    margin-bottom: 20px;
  }
  
  .admin-action-button {
    display: inline-block;
    background-color: #af4c59; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Some padding */
    text-align: center;
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    margin: 5px;
    font-size: 16px;
    border: none; /* Remove border */
    cursor: pointer; /* Pointer on hover */
  }
  
  .admin-action-button:hover {
    background-color: #ac1d29; /* Darker green on hover */
  }
  
  button.admin-action-button {
    outline: none; /* Remove button outline */
  }
  
  .create-user-container {
    margin-top: 20px;
  }
  
  .create-user-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .create-user-container input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .create-user-container button {
    padding: 10px 20px;
    background-color: #af4c59;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-user-container button:hover {
    background-color: #ac1d29;
  }
  