
/* Main content styles */
.main-content {
  margin-left: 245px;
  overflow-y: auto;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 48px;
  left: 0;
  width: 250px;
  height:calc(100vh - 60px);
  padding: 20px;
  overflow-y: auto;
  background-color: #ffffff;
  color: #000000;
}
/* Topbar styles */
.topbar {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: #000000;
}

